.h {
    background-color:rgb(156, 23, 23);
    width:fit-content;
    border-radius:10px;
    color:aqua;
    font-size:120px;
    box-shadow: 10px 10px 10px rgba(8, 8, 8, 0.8);
    text-shadow: 10px 10px 10px rgba(8, 8, 8, 0.8);
}

body {
    background-color:aquamarine;
}
p {
    width:200px;
    padding:10px;
    border:3px solid black;

}
div{
    width:300px;
    padding:10px;
    border:3px solid blue;
}
ul{
    border:2px dotted  red;
}

table{
    /* border-collapse: collapse; */
    padding:20px;
    border:1px solid red;
}
tr {
    border-collapse:collapse;
    padding: 10px;
    border:1px solid black;
}
.color1 {
	background: red;
}
.color2 {
	background: green;
}
.color3 {
	background: yellow;
}
td {
    width:10px;
    height:10px;
    border:1px solid black;
}